@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

:root {
    --cor-footer:black;
    --color-azul3: #0455f8;
    --cor-fundo: hsl(221, 100%, 41%);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
}

body{
background-color: rgb(247, 167, 76);

}


/* logo da casa */
.logoCasa{
   display: flex;
  justify-content: center; 
  align-items: center;     
}

/* formulario de login */
form{
	font-family: monospace;
	margin-top: 50px;
    width: 50%;
    margin-left: 30%;
    justify-content: center; 
    align-items: center;  
	cursor: pointer;
	border-radius: 10px;
}

label{
    color: black;
}
 
 
/* botao de logar */
.Sign-in button{
	font-family:monospace;
	margin-left: 30%;
}
.Sign-in button:hover {
	background-color: silver;
	color: black;
}
 
 
/* link do botao usando id*/
#link_cadastra{
	font-family:monospace;
	cursor: pointer;
	margin-left: 45%;
	margin-top: 25px;
}
#link_cadastra:hover{
	color: black;
}
 
.checkbox{
	margin-top: 15px;
    margin-left: 40%;
	margin-right: 40%;

}

 
 