@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-footer: black;
    --color-azul3: rgb(12, 24, 192);
    --cor-fundo: hsla(223, 64%, 35%, 0.483);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
}

#cabecalho {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 15px;
    background-color: var(--color-azul3);
    color: var(--cor-link);
    box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
}

/* Corpo do site */
main {
    margin-top: 10px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 15px;
}

.grid-container>div {
    text-align: center;
}

.grid-container>div>div {
    display: flex;
    margin-left: 30%;
    text-decoration: none;
    color: var(--cor-footer);
}

/* Rodape footer */
.conteiner_rodape {
    display: flex;
    justify-content: space-around;
    background-color: silver;
    color: var(--cor-footer);
    border-radius: 10px;
    padding: 15px;
}

.conteiner_rodape>div {
    text-align: center;
}

.conteiner_rodape>div>p>b {
    font-family: sans-serif;
}

.conteiner_rodape>div>p>a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cor-footer);
}

/* Infomações do Rodape */
.footer_inf {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.footer_inf>div {
    text-align: center;
}


/* Formatação de tela mais responsivo */
@media screen and (max-width: 1200px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Rodape footer */
    .conteiner_rodape {
        display: flex;
        justify-content: space-around;
        background-color: silver;
        color: var(--cor-footer);
        border-radius: 10px;
        padding: 15px;
    }
}

@media screen and (max-width: 609px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Rodape footer */
    .conteiner_rodape {
        display: grid;
        grid-template-columns: 1fr;
        background-color: silver;
        color: var(--cor-footer);
        border-radius: 10px;
        padding: 15px;
    }

    /* Infomações do Rodape */
    .footer_inf {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
    }

}