@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

:root {
	--cor-footer: black;
	--color-azul3: #0455f8;
	--cor-fundo: hsl(221, 100%, 41%);
	--cor-hover: hsl(0, 0%, 100%);
	--cor-link: hsl(0, 0%, 100%);
}

#cabecalho {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    padding: 15px;
    background-color: var(--color-azul3);
    color: var(--cor-link);
    box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
}

body {
	background-color: rgb(247, 167, 76);
}


/* logo da casa */
.logoCasa {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}


/* formulario de login */
form {
	font-family: monospace;
	margin-top: 40px;
	width: 50%;
	margin-left: 30%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
}

label {
	color: black;
}

/* Aqui temos a validação do password */
/* #toggleBtn
{
	top: 8px;
	right: 10px;
	width: 34px;
	height: 34px;
	background: rgba(0,0,0,0.05);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50%;
}
#toggleBtn::before 
{
	content: '\f06e';
	font-family: fontAwesome;
}
#toggleBtn.hide::before 
{
	content: '\f070';
	position: absolute;
	font-family: fontAwesome;
} */
.validation
{
	padding: 10px;
	width: 400px;
	background: #fff;
	border-radius: 8px;
	margin-top: 30px;
	background: #376488;
	box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.validation ul
{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
} 
.validation ul li
{
	position: relative;
	list-style: none;
	color: #fff;
	font-size: 0.85em;
	transition: 1.0s;
}
.validation ul li.valid 
{
	color: rgba(255,255,255,0.5);
}
.validation ul li::before 
{
	content: '\f192';
	font-family: fontAwesome;
	width: 20px;
	display: inline-flex;
}
.validation ul li.valid::before 
{
	content: '\f00c';
	color: #0f0;
}

/* Aqui termina a validação do password */

/* botao de logar */
.Sign-in button {
	font-family: monospace;
	margin-left: 30%;
	box-shadow: 05px 05px 05px 05px rgb(16, 36, 150);

}

.Sign-in button:hover {
	background-color: silver;
	color: black;
}


/* link do botao usando id*/
#link_cadastra {
	font-family: monospace;
	cursor: pointer;
	margin-left: 45%;
	margin-top: 25px;
}

#link_cadastra:hover {
	color: black;
}

.checkbox {
	margin-top: 15px;
	margin-left: 40%;
	margin-right: 40%;

}

@media screen and (max-width: 1200px){
	form {
	font-family: monospace;
	margin-top: 50px;
	width: 50%;
	margin-left: 30%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
}
}

@media screen and (max-width: 609px){
	form {
	font-family: monospace;
	margin-top: 50px;
	width: 50%;
	margin-left: 30%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
}
}