@charset "UTF-8";
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-footer: black;
    --color-azul3: rgb(12, 24, 192);
    --cor-fundo: hsla(223, 64%, 35%, 0.483);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
    --cor-form-input: hsl(43, 100%, 50%);
    --cor-fundo-formulario: rgb(140, 140, 80);
}

#cabecalho {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 15px;
    background-color: var(--color-azul3);
    color: var(--cor-link);
    box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
}

/* Corpo do site */
body {
    background-color: var(--cor-fundo);
}

/* Formatação na nossa main */
.grid-section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
}
.grid-section-inf{
    display: flex;
    justify-content: space-evenly;
    margin-left: 470px;
    margin-right: 470px;
    margin-top:15px;
    color: var(--cor-footer);
    background-color: var(--cor-fundo-formulario);
    border-radius: 7px;
}
.grid-section-inf > ul > li{
    list-style-type: none;
    padding: 5px;
    margin-left: 15px;
}
.grid-section-inf > div > a > button:hover{
    width: 135px;
    color: var(--cor-footer);
}

.grid-nav{
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 50px;
    background-color: var(--cor-footer);
    border-radius: 10px;
    padding: 12px;
    width: 23%;
}
.grid-nav > ul > li{
    list-style-type: none;
    font-size: larger;
}
.grid-nav > ul > li > a{
    text-decoration: none;
    color: var(--cor-link);
}
.grid-nav > ul > li > a > svg{
    background-color: var(--cor-link);
    color: var(--cor-footer);
    padding: 5px;
    border-radius: 7px;
}
.grid-nav > ul > li > a > svg:hover{
    width: 80px;
    color: var(--cor-link);
    background-color: var(--cor-fundo-formulario);
}

/* Termina aqui - main*/
/* ---------------------------------------- */
/* .grid-container-pagamento {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.conteiner {
    width: 350px;
    margin-top: -300px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo-formulario);
    box-shadow: 10px 10px 10px 10px var(--cor-form-input);
}

.conteiner > h5 {
    color: var(--cor-link);
}

.grid-label {
    padding: 10px;
    color: var(--cor-link);
}

.grid-label input {
    color: var(--cor-hover);
    background-color: black;
    border-radius: 07px;
}
.grid-label > button:hover {
    width: 200px;
    color: var(--cor-footer);
} */






/* Infomações do Rodape */
.footer_inf {
    display: flex;
    justify-content: space-evenly;
    background-color: silver;
    color: var(--cor-footer);
    margin-top: 48px;
    padding: 15px;
}

.footer_inf > div {
    text-align: center;
}

/* Formatação de tela mais responsivo */
@media screen and (max-width: 1200px) {

    /* .grid-container-pagamento {
        margin-top: 270px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    } */

.grid-nav{
        display: flex;
        size: 10px;
        justify-content: left;
        text-align: center;
        margin-top: 50px;
        background-color: var(--cor-footer);
        border-radius: 10px;
        padding: 10px;
        width: 35%;
}

.grid-section-inf{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:15px;
    color: var(--cor-footer);
    background-color: var(--cor-fundo-formulario);
    border-radius: 7px;
}



}

@media screen and (max-width: 609px) {

    /* .grid-container-pagamento {
        margin-top: 270px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    } */

    .grid-nav{
        display: flex;
        size: 15px;
        justify-content: left;
        text-align: center;
        margin-top: 50px;
        background-color: var(--cor-footer);
        border-radius: 10px;
        padding: 10px;
        width: 45%;
}

    .grid-section-inf{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 15%;
        margin-right: 15%;
        margin-top:15px;
    }

    /* Infomações do Rodape */
    .footer_inf {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
    }


}